<div class="clients-container">  
  <h2>Dashboard</h2>
  <div class="list">
  <div class="actions d-grid col-10 justify-content-md-start">
    <%# link_to "New Client", new_client_path, class: "btn btn-primary btn-block mb-4" %>
  </div>
  <h3>Usuarios</h3>
  <table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">email</th>
          <th scope="col">phone</th>   
          <th scope="col">User status</th>
          <th scope="col">Role</th>

          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <% count = 0 %>
        <% if @users %>
          <% @users.each do |user| %>
            <tr>
              <td><%= count += 1 %></td>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone %></td>
              <td><%= user.user_state%></td>
              <td><%= user.role %></td>
              <td><%= link_to "Edit", show_user_path(user.id), class: "btn btn-success" %></td>
            </tr>
          <% end %> 
        <% end %>
    </tbody>
  </table>