<div class="container profile-form">

  <% if @user.errors.any? %>
      <div id="errorExplanation">
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_with(url: edit_user_path(@user), local: true, method: "post") do |f| %>
    <h2>Edit User</h2>
    
    <div class="form-outline mb-4">
      <%= f.label :first_name, class: "form-label" %><br />
      <%= f.text_field :first_name, value: @user.first_name, autofocus: true, autocomplete: "Last name", class: "form-control" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :last_name, class: "form-label" %><br />
      <%= f.text_field :last_name, value: @user.last_name, autofocus: true, autocomplete: "Last name", class: "form-control" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :phone, class: "form-label" %><br />
      <%= f.number_field :phone, value: @user.phone, autofocus: true, autocomplete: "Phone", class: "form-control" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, value: @user.email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <br/>

    <div class="row g-3">
      <div class="col-md-2">
        <%= f.label "User state:", class: "form-label" %><br />
      </div>
      <div class="col-md-2">        
        <%= radio_button_tag :user_state, "Inactive", @user.user_state.downcase == 'inactive' %>
        <%= f.label "Inactive", class: "form-label" %><br />
      </div>
      
      <div class="col-md-4">
        <%= radio_button_tag :user_state, "Active", @user.user_state.downcase == 'active' %>
        <%= f.label "Active", class: "form-label" %><br />
      </div>
    </div>
    
    <br/>
    
    <div class="actions d-grid col-12 mx-auto">
      <%= f.submit "Update", class: "btn btn-success" %>      
    </div>

    <div class="actions d-grid col-12 mx-auto">
      <%= link_to "Remove User", remove_user_path(@user.id), class: "btn btn-danger",  data: { confirm: 'Are you sure you want to delete this record?' }  %>
    </div>
  <% end %>
</div>