<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2>Broker Registration</h2>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-outline mb-4">
    <%= f.label :first_name, class: "form-label" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :last_name, class: "form-label" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last name", class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :phone, class: "form-label" %><br />
    <%= f.number_field :phone, autofocus: true, autocomplete: "Phone", class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>


  <div class="form-outline mb-4">
    <%= f.label :role, class: "form-label" %><br />
    <%= f.select :role, ["broker"], {}, { class: "form-select form-select-lg mb-3" } %>
  </div>

  <%= f.hidden_field :user_state, value: current_user&.role&.downcase == 'agent'  ? 'active' : 'inactive' %>

  <div class="field">
    <%= f.label :password, class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Register", class: "btn btn-primary btn-block mb-4 register"  %>
    <%= link_to "Login", new_session_path(resource_name),  class: "btn btn-primary btn-block mb-4 login" %><br />
  </div>
<% end %>

<%= render "devise/shared/links" %>
