<div class="col-sm-4">
  <h4>Client information</h4><br/>
  <%= f.hidden_field :user_state, value: current_user&.role&.downcase == 'agent'  ? 'active' : 'inactive' %>
  <div class="form-outline mb-4">
    <%= f.label 'First name *', class: "form-label" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label 'Last name *', class: "form-label" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last name", class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label 'Phone *', class: "form-label" %><br />
    <%= f.number_field :phone, autofocus: true, autocomplete: "Phone", class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label 'Email *', class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  
  <% if current_user.role.downcase == 'agent' %>
  <div class="field" style="display:none;">
    <%= f.label "Assign Agent", class: "form-label" %>
    <%= collection_select(:client, :agent_id, @referreds, :id, :full_name, {}, class: "form-control") %>
  </div>
  <% end %>
  <br/>

  <%= f.hidden_field :role, value: "client", class: "form-control" %>
  

  <div class="field">
    <%= f.label "password (6 characters minimum) *", class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label 'password_confirmation *', class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
</div>