<div class="col-sm-4">
  <h4>Refer Information</h4><br/>
    <div class="field form-outline mb-4">
      <%= f.label "Assign Broker", class: "form-label" %>
      <%= collection_select(:client, :broker_id, @brokers, :id, :company_name, {}, class: "form-control") %>
    </div><br/>

    <div class="field form-outline mb-4">
      <%= f.label :type_of_property, class: "form-label" %><br />
      <%= f.select(:type_of_property, @properties, {}, {:class => 'form-control' }) %>  
    </div><br/>

    <div class="field form-outline mb-4">
      <%= f.label :number_of_rooms, class: "form-label" %><br />
      <%= f.select(:number_of_rooms, @number_of_rooms, {}, {:class => 'form-control' }) %>  
    </div><br/>

    <div class="field form-outline mb-4">
      <%= f.label :number_of_bathrooms, class: "form-label" %><br />    
      <%= f.select(:number_of_bathrooms, @bathrooms, {}, {:class => 'form-control' }) %>  
    </div><br/>

    <div class="field form-outline mb-4">
      <%= f.label "Pool:", class: "form-label" %>
      <%= f.radio_button :pool, 'yes' %>
      <%= f.label " yes", class: "form-label" %>
      <%= f.radio_button :pool, 'no' %>
      <%= f.label " no", class: "form-label" %><br />
    </div><br/>

    <div class="field form-outline mb-4">
      <%= f.label :property_address, class: "form-label" %><br />
      <%= f.text_field :property_address, autofocus: true, autocomplete: "Property address", class: "form-control" %>
    </div><br/>
</div>


<div class="col-sm-4">
  <h4>Additional Information</h4><br/>
<div class="field form-outline mb-4">
      <%= f.label :notes, class: "form-label" %><br />    
      <%= f.text_area :notes, autofocus: true, class: "form-control" %>
    </div><br/>
    
    <div class="field form-outline mb-4">
    <%= f.label :budget, class: "form-label" %><br />
      <div class="overflow-auto price-range">
        <%                
            @price_range_group_a.each do |price_range|
            start_price, end_price = price_range %>          
            <%= f.radio_button :budget, "#{start_price} - #{end_price}" %>
            <%= f.label "#{start_price} - #{end_price}", class: "form-label" %><br />
        <%  
          end
        %>
        <%     
          all_radio_buttons = []
          @price_range_group_b.each do |price_range|
            start_price, end_price = price_range %>          
            <%= f.radio_button :budget, "#{start_price} - #{end_price}" %>
            <%= f.label "#{start_price} - #{end_price}", class: "form-label" %><br />
        <%  end %>
        </div>
    </div>
    
</div>