<div class="form-outline mb-4">
  <%= form.label "Registerd in", class: "form-label" %><br />
  <%= form.text_field :created_at, value: current_user.created_at.strftime("%Y-%m-%d"), readonly: true, class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :address, class: "form-label" %><br />
  <%= form.text_field :address, value: @agent.address, autofocus: true, autocomplete: "Address", class: "form-control" %>  
</div>

<div class="form-outline mb-4">
  <%= form.label :city, class: "form-label" %><br />
  <%= form.text_field :city, value: @agent.city, autofocus: true, autocomplete: "city", class: "form-control" %>  
</div>

<div class="form-outline mb-4">
  <%= form.label :state, class: "form-label" %><br />
  <%= form.text_field :state, value: @agent.state, autofocus: true, autocomplete: "state", class: "form-control" %>  
</div>

<div class="form-outline mb-4">
  <%= form.label :zip_code, class: "form-label" %><br />
  <%= form.text_field :zip_code, value: @agent.zip_code, autofocus: true, autocomplete: "zip_code", class: "form-control" %>  
</div>