<div class="form-outline mb-4">
  <%= form.label :company_name, class: "form-label" %><br />
  <%= form.text_field :company_name,  value: @broker.company_name, autofocus: true, autocomplete: "company_name", class: "form-control" %>  
</div>

<div class="form-outline mb-4">
  <%= form.label :company_licence, class: "form-label" %><br />
  <%= form.text_field :company_licence, value: @broker.company_licence, autofocus: true, autocomplete: "company_licence", class: "form-control" %>
</div>

<div class="form-outline mb-4">
  <%= form.label :years_in_bussiness, class: "form-label" %><br />
  <%= form.text_field :years_in_bussiness, value: @broker.years_in_bussiness,  autofocus: true, autocomplete: "years_in_bussiness", class: "form-control" %>
</div>

<div class="form-outline mb-4">
  <%= form.label :insurance_carrier, class: "form-label" %><br />
  <%= form.text_field :insurance_carrier, value: @broker.insurance_carrier, autofocus: true, autocomplete: "insurance_carrier", class: "form-control" %>
</div>

<div class="form-outline mb-4">
  <%= form.label :insurance_policy, class: "form-label" %><br />
  <%= form.text_field :insurance_policy, autofocus: true, autocomplete: "insurance_policy", class: "form-control" %>
</div>

<div class="form-outline mb-4">
  <%= form.label :licence, class: "form-label" %><br />
  <%= form.text_field :licence, value: @broker.licence, autofocus: true, autocomplete: "licence", class: "form-control" %>  
</div>

<div class="form-outline mb-4">
  <%= form.label :licencia_expiration_date, class: "form-label" %><br />
  <%= form.date_field :licencia_expiration_date, autofocus: true, autocomplete: "licencia_expiration_date", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :reserver_zip_code, class: "form-label" %><br />
  <%= form.text_field :reserver_zip_code, autofocus: true, autocomplete: "reserver_zip_code", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :birthday, class: "form-label" %><br />
  <%= form.date_field :birthday, autofocus: true, autocomplete: "Phone", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :address, class: "form-label" %><br />
  <%= form.text_field :address, autofocus: true, autocomplete: "Address", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :city, class: "form-label" %><br />
  <%= form.text_field :city, value: @agent.city, autofocus: true, autocomplete: "city", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :state, class: "form-label" %><br />
  <%= form.text_field :state, autofocus: true, autocomplete: "state", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label "You are a director ?", class: "form-label" %><br />
  <%= form.radio_button :director, "Yes" %>
  <%= form.label :yes, class: "form-label" %><br />
  <%= form.radio_button :director, "No" %>
  <%= form.label :no, class: "form-label" %><br />
</div>