<div class="form-outline mb-4">
  <%= form.label :company_name, class: "form-label" %><br />
  <%= form.text_field :company_name, value: @broker.company_name, autofocus: true, autocomplete: "company_name", class: "form-control" %>  
</div>

<div class="form-outline mb-4">
  <%= form.label :company_licence, class: "form-label" %><br />
  <%= form.text_field :company_licence, value: @broker.company_licence, autofocus: true, autocomplete: "company_licence", class: "form-control" %>
</div>

<div class="form-outline mb-4">
  <%= form.label :years_in_bussiness, class: "form-label" %><br />
  <%= form.text_field :years_in_bussiness, value: @broker.years_in_bussiness,  autofocus: true, autocomplete: "years_in_bussiness", class: "form-control" %>
</div>

<div class="form-outline mb-4">
  <%= form.label :insurance_carrier, class: "form-label" %><br />
  <%= form.text_field :insurance_carrier, value: @broker.insurance_carrier, autofocus: true, autocomplete: "insurance_carrier", class: "form-control" %>
</div>

<div class="form-outline mb-4">
  <%= form.label :insurance_policy, class: "form-label" %><br />
  <%= form.text_field :insurance_policy, value: @broker.insurance_policy, autofocus: true, autocomplete: "insurance_policy", class: "form-control" %>
</div>

<div class="form-outline mb-4">
  <%= form.label :licence, class: "form-label" %><br />
  <%= form.text_field :licence, value: @broker.licence, autofocus: true, autocomplete: "licence", class: "form-control" %>  
</div>

<div class="form-outline mb-4">
  <%= form.label :licencia_expiration_date, class: "form-label" %><br />
  <%= form.date_field :licencia_expiration_date, value: @broker.licencia_expiration_date, autofocus: true, autocomplete: "licencia_expiration_date", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label "Registerd in", class: "form-label" %><br />
  <%= form.text_field :created_at, value: current_user.created_at.strftime("%Y-%m-%d"), readonly: true, class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :address, class: "form-label" %><br />
  <%= form.text_field :address, value: @broker.address, autofocus: true, autocomplete: "Address", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :city, class: "form-label" %><br />
  <%= form.text_field :city, value: @broker.city, autofocus: true, autocomplete: "city", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label :state, class: "form-label" %><br />
  <%= form.text_field :state, value: @broker.state, autofocus: true, autocomplete: "state", class: "form-control" %>    
</div>

<div class="form-outline mb-4">
  <%= form.label "Company zip code", class: "form-label" %><br />
  <%= form.text_field :reserver_zip_code, value: @broker.reserver_zip_code, autofocus: true, autocomplete: "reserver_zip_code", class: "form-control" %>    
</div>
