    

<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
        <div class="logo me-auto">
          <h1><a href="/">Brokers</a>
          </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <% if user_signed_in? %>
              <% if current_user.role.downcase == "broker" %>
              <li> <%= link_to 'Home', home_brokers_path %> </li>                
              <% else %>
                <li> <%= link_to 'Home', home_agents_path %> </li>
              <% end %>
            <% else %>
              <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <% end %>
            
            <% if user_signed_in? && current_user.role.downcase == 'admin' %>
            <li> <%= link_to 'Usuarios', dashboard_path %> </li>
            <li> <%= link_to 'Transactions', transactions_path %> </li>
            <% end %>
            <% if user_signed_in? %>
              <% if current_user.role.downcase != "admin" %>
              <li> <%= link_to 'Clients', clients_path %> </li>
              <% end %>
              <% if current_user.role.downcase == "broker" %>
              <li> <%= link_to 'Agents', agents_path %> </li>
              <li> <%= link_to 'Brokers', search_brokers_path %> </li>
              <% elsif current_user.role.downcase == "agent" %>
              <li> <%= link_to 'Brokers', search_brokers_path %> </li>
              <% end %>
              
              <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <% if current_user.role.downcase != "admin" %>
                    <li><%= link_to "My profile", profile_index_path, :method => :get %>
                  <% end %>
                  <li><%= link_to "Edit password", edit_user_registration_path, :method => :get %>                
                  
                  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>                
                </ul>
              </li>
            <% end %>
            <% if !user_signed_in? %>
              <li><%= link_to "Login", new_user_session_path, :method => :get, class:"nav-link scrollto" %></li>
              <li><%= link_to "Register", new_user_registration_path, :method => :get, class: "nav-link scrollto" %></li>              
            <% end %>
          </ul>
          <i class="fa-solid fa-bars mobile-nav-toggle"></i>
          
        </nav><!-- .navbar -->

        <div class="header-social-links d-flex align-items-center">
          <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
  </div>  
</header>