<div class="clients-container">  
  <h2><%= @title  %></h2>
  <div class="list">
  <div class="actions d-grid col-10 justify-content-md-start">
    <% if current_user.role.downcase == 'broker' %>
    <%= link_to "Refer Client", refer_client_from_broker_path, class: "btn btn-primary btn-block mb-4" %>
    <% else %>
    <%= link_to "New Client", new_client_path, class: "btn btn-primary btn-block mb-4" %>
    <% end %>
  </div>
  <h3>Unassign Clients</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">From Agent</th>
        <th scope="col">User status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% count = 0 %>
    <% if @clients %>
      <% @clients.each do |client| %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= link_to client.full_name, show_client_path(client.user.id) %></td>
          <td><%= Agent.find(client.agent_id).full_name %></td> <!--update for from agent-->
          <td><%= client.user.role.downcase != 'broker' ? 'active' : 'inactive' %></td>          
          <% if current_user.role.downcase == 'agent' %>
            <td><%= link_to "Refer Broker", refer_broker_path(client.user.id), class: "btn btn-success" %></td>            
          <% else %>
            <td><%= link_to "Assign Agent", refer_agent_path(client.user.id), class: "btn btn-success" %></td>
            <td><%= link_to 'View Details', show_client_path(client.user.id), class: "btn btn-success" %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <br/>
  <h3>Inbound Clients</h3>
   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>                         
        <% if current_user.role.downcase == 'broker'%>
          <th scope="col">From agent</th>  
          <th scope="col">Assigned broker</th>                   
        <% elsif current_user.role.downcase == 'agent' %> 
          <th scope="col">Origin broker</th>                  
          <th scope="col">Assigned agent</th>          
        <% end %>
        <th scope="col">User status</th>
          <th scope="col"></th>
          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
     
    <% count = 0 %>
    <% if @inbound_referidos %>
      <% @inbound_referidos.each do |referido| %>
        <% unless referido.id == 0 %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= link_to referido.full_name, show_client_path(referido.user.id) %></td>                              
          <% if current_user.role.downcase == 'broker'%>        
            <td><%= referido.agent.full_name %></td>
            <td><%= Broker.find(Transaction.where(client_id: referido.id).last.destination_broker).user.full_name %></td>
          <% elsif current_user.role.downcase == 'agent' %>          
            <td><%= Broker.find(Transaction.where(client_id: referido.id).last.destination_broker).user.full_name %></td>
            <td><%= Agent.find(Transaction.where(client_id: referido.id).last.assigned_agent).user.full_name %></td>
          <% end %>        
          <td><%= referido.user.user_state %></td>
          <% if current_user.role.downcase == 'agent' %>
            <td><%= link_to "Manage", edit_client_path(referido.user.id), class: "btn btn-success" %></td>
          <% else %>
            <td><%= link_to "Refer Agent", refer_agent_path(referido.user.id), class: "btn btn-success" %></td>
            <td><%= link_to "Manage", edit_client_path(referido.user.id), class: "btn btn-success" %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>

   <br/>
  <h3>Outbound Clients</h3>
   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">From Agent</th>
        <th scope="col">Assigned Broker</th>
        <th scope="col">User status</th>
        <th scope="col"></th>               
      </tr>
    </thead>
    <tbody>    
     
    <% count = 0 %>
    <% if @outbound_referidos %>
      <% @outbound_referidos.each do |referido| %>
        <% unless referido.id == 0 %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= referido.full_name %></td>          
          <td><%= referido.agent.full_name %></td>          
          <td><%= Broker.find(Transaction.find_by_client_id(referido.id).destination_broker).user.full_name %></td>
          <td><%= referido.user.user_state %></td>
          <td><%= link_to 'View Details', show_client_path(referido.user.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
