<div class="clients-container">  
  <h3>Clients list</h3>
  <div class="list">
  <div class="actions d-grid col-10 justify-content-md-start">
    <%= link_to "New Client", new_client_path, class: "btn btn-primary btn-block mb-4" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>            
        <th scope="col">Agent assigned</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% count = 0 %>
    <% @clients.each do |client| %>  
      <tr>
        <td><%= count += 1 %></td>
        <td><%= client.full_name %></td>
        <td><%= client.user.email %></td>
        <td><%= client.user.phone %></td>
        <td><%= client.agent.full_name %></td>
        <% if current_user.role.downcase == 'agent' %>
          <td><%= link_to "Refer Broker", refer_broker_path(client.user.id), class: "btn btn-success" %></td>
        <% else %>
          <td><%= link_to "Refer Agent", refer_agent_path(client.user.id), class: "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %> 
    </tbody>
  </table>
  </div>
</div>
