<div class="clients-container">  
  <h2><%= @title  %></h2>
  <div class="list">
  <div class="actions d-grid col-10 justify-content-md-start">
    <%= link_to "New Client", new_client_path, class: "btn btn-primary btn-block mb-4" %>
  </div>
  <h3>Unassign Clients</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>   
        <th scope="col">User status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% count = 0 %>
    <% if @clients %>
      <% @clients.each do |client| %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= link_to client.full_name, show_client_path(client.user.id) %></td>
          <td><%= client.user.email %></td>          
          <td><%= client.user.phone %></td>
          <td><%= client.user.role.downcase != 'broker' ? 'active' : 'inactive' %></td>          
          <% if current_user.role.downcase == 'agent' %>
            <td><%= link_to "Refer Broker", refer_broker_path(client.user.id), class: "btn btn-success" %></td>
          <% else %>
            <td><%= link_to "Assign Agent", refer_agent_path(client.user.id), class: "btn btn-success" %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <br/>
  <h3>Inbound Clients</h3>
   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">User status</th>
        <th scope="col">Assigned from</th>
         <% if current_user.role.downcase == 'broker'%>
        <th scope="col">Assigned to</th>
        <% end %>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>    
     
    <% count = 0 %>
    <% if @inbound_referidos %>
      <% @inbound_referidos.each do |referido| %>
        <% unless referido.id == 0 %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= link_to referido.full_name, show_client_path(referido.user.id) %></td>
          <td><%= referido.user.email %></td>
          <td><%= referido.user.phone %></td>
          <td><%= referido.user.user_state %></td>           
          <% 
          origin_user_id = Transaction.find_by_client_id(referido.id).origin_broker          
          origin_user = Broker.find(origin_user_id) if origin_user_id 

          unless origin_user
          origin_user_id = Transaction.find_by_client_id(referido.id).origin_agent         
          origin_user = Agent.find(origin_user_id) if origin_user_id 
          end          
          %>
          <% if current_user.role.downcase == 'broker'%>        
            <td><%= origin_user.full_name if origin_user %></td>
          <% elsif current_user.role.downcase == 'agent' %>          
            <td><%= origin_user.full_name if origin_user %></td>
          <% end %>
          <!-- assigned to -->
           <% if current_user.role.downcase == 'broker'%>           
           <% 
           assigned_user_id = Transaction.find_by_client_id(referido.id).assigned_agent
           assigned_user = Agent.find(assigned_user_id) if assigned_user_id 
           
            unless assigned_user
              assigned_user_id = Transaction.find_by_client_id(referido.id).destination_broker
              assigned_user = Broker.find(assigned_user_id) if assigned_user_id            
            end
           %>
          <td><%= assigned_user.full_name if assigned_user %></td>
          <% end %>

          <% if current_user.role.downcase == 'agent' %>
            <td><%= link_to "Manage", show_client_path(referido.user.id), class: "btn btn-success" %></td>
          <% else %>
            <td><%= link_to "Refer Agent", refer_agent_path(referido.user.id), class: "btn btn-success" %></td>
            <td><%= link_to "Assign broker", assign_broker_path(referido.user.id), class: "btn btn-success" %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>

   <br/>
  <h3>Outbound Clients</h3>
   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">User status</th>
        <th scope="col">Assigned to</th>        
      </tr>
    </thead>
    <tbody>    
     
    <% count = 0 %>
    <% if @outbound_referidos %>
      <% @outbound_referidos.each do |referido| %>
        <% unless referido.id == 0 %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= referido.full_name %></td>
          <td><%= referido.user.email %></td>                    
          <td><%= referido.user.phone %></td>
          <td><b><%= referido.user.user_state %></b></td>
           <% if current_user.role.downcase == 'agent' %>           
           <td><%= referido.broker.full_name %></td>
           <% else %>
           <td><%= referido.agent.full_name %></td>
           <% end %>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <% if current_user.role.downcase == 'broker' %>
    <h3>Clients of my agents</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">email</th>
          <th scope="col">phone</th>
          <th scope="col">User status</th>               
        </tr>
      </thead>
      <tbody>    
      
    
      <% count = 0 %>
      <% if @agent_clients %>
        <% @agent_clients.each do |client| %>
          <% unless client.id == 0 %>
          <tr>
            <td><%= count += 1 %></td>
            <td><%= client.full_name %></td>
            <td><%= client.user.email %></td>                    
            <td><%= client.user.phone %></td>
            <td><b><%= client.user.user_state %></b></td>            
          </tr>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
