<div class="container">


  <% if @client && @client.errors.any? %>
      <div id="errorExplanation">
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

 <% if @user && @user.errors.any? %>
      <div id="errorExplanation">
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>
  
  <%= form_with(url: refer_client_from_broker_path(@user), method: "post") do |f| %>
    <h2>Refer Broker</h2>
    <div class="row justify-content-md-center">
      <%= render 'partials/broker/create_client', f: f %>    
      <%= render 'partials/broker/refer_client', f: f %>    
    </div>
    <div class="actions d-grid col-12 mx-auto">
      <%= f.submit "Refer", class: "btn btn-success" %>
    </div>
  <% end %>
</div>