<div class="container refer-client">  
  <%= form_with(url: create_referral_path(@user), method: "post") do |f| %>
  <h2>Refer Broker</h2>

  <%= f.hidden_field :client_id, value: @client.id %>  
  <div class="form-outline mb-4">
    <%= f.label :first_name, class: "form-label" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", value: @client.user.first_name, readonly: true, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :last_name, class: "form-label" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last name", value: @client.user.last_name, readonly: true, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :phone, class: "form-label" %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "Phone", value: @client.user.phone, readonly: true, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @client.user.email, readonly: true, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label "Assign Broker", class: "form-label" %>
    <%= collection_select(:client, :broker_id, @brokers, :id, :full_name, {}, class: "form-control") %>
  </div>
  <br/>

  <%# others fields required to refer  %>

  <div class="form-outline mb-4">
    <%= f.label :type_of_property, class: "form-label" %><br />
    <%= f.select(:type_of_property, @properties, {prompt: "select property", selected: @current_type_of_property }, {:class => 'form-control' }) %>  
  </div>

  <div class="form-outline mb-4">
    <%= f.label :number_of_rooms, class: "form-label" %><br />
    <%= f.select(:number_of_rooms, @number_of_rooms, {prompt: "select rooms", selected: @current_number_of_rooms }, {:class => 'form-control' }) %>  
  </div>

  <div class="form-outline mb-4">
    <%= f.label :number_of_bathrooms, class: "form-label" %><br />    
    <%= f.select(:number_of_bathrooms, @bathrooms, {prompt: "select bathrooms", selected: @current_number_of_bathrooms }, {:class => 'form-control' }) %>  
  </div>

  <div class="form-outline mb-2">
    <%= f.label :parkng_lot, class: "form-label" %><br />
    <%= f.select(:parkng_lot, @parking_lots, {prompt: "select parking", selected: @current_parking_lot }, {:class => 'form-control' }) %>  
  </div>

  <div class="form-outline mb-2">
    <%= f.label :budget, class: "form-label" %><br />
    <%= f.radio_button :budget, '10,000 - 30,000',  checked: (@client.budget == '10,000 - 30,000') %>
    <%= f.label "10,000 - 30,000", class: "form-label" %><br />
    
    <%= f.radio_button :budget, '30,000 - 60,000', checked: (@client.budget == '30,000 - 60,000') %>
    <%= f.label "30,000 - 60,000", class: "form-label" %><br />

    <%= f.radio_button :budget, '60,000 - 100,000', checked: (@client.budget == '60,000 - 100,000') %>
    <%= f.label "60,000 - 100,000", class: "form-label" %><br />
  </div>

   <div class="form-outline mb-4">
    <%= f.label :notes, class: "form-label" %><br />    
    <%= f.text_area :notes, autofocus: true, value: @client.user.notes, class: "form-control" %>
  </div>

  <br/>
  
  <div class="actions d-grid col-12 mx-auto">
    <%= f.submit "Refer", class: "btn btn-success" %>
  </div>
  <% end %>
</div>