<div class="container show-client">
  <% if @user.errors.any? %>
      <div id="errorExplanation">
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>
  <div class="row">      
    <div class="col-md-12">
      <div class="card">
        <h2>Client Detail</h2>
        <%= hidden_field :client_id, value: @client.id %>
        <div class="form-outline mb-4">
          <b>First name</b>
          <span><%= @user.first_name %></span>
        </div>

        <div class="form-outline mb-4">
          <b>Last name</b>
          <span><%= @user.last_name %></span>        
        </div>

        <div class="form-outline mb-4">
          <b>phone number</b>
          <span><%= @user.phone %></span>
        </div>

        <div class="form-outline mb-4">
          <b>Email</b>
          <span><%= @user.email %></span>
        </div>      
        
        <div class="form-outline mb-4">
          <b>User state<b>
          <span><%= @user.user_state %></span>
        </div>

        <hr class="border-2 border-top ">
        
        
        <% unless @transaction.nil? %>
          <h4>Transaction info</h4>
          <div class="form-outline mb-4">
            <b>From Broker:</b>            
            <span> <%= @transaction.origin_broker ? Broker.find(@transaction.origin_broker).user.full_name : Broker.find(@client.broker_id).user.full_name %> </span>
          </div>
          <div class="form-outline mb-4">
            <% if  @transaction.assigned_agent %>
              <b>Assigned Agent</b>          
              <span><%= Agent.find(@transaction.assigned_agent).user.full_name %></span>
            <% end %>
          </div>

          <div class="form-outline mb-4">
            <b>Proof of check:</b>
            <%= link_to "proof check pdf", @pdf_attached if @pdf_attached.attached? %>
          </div>

          <div class="form-outline mb-4">
            <b>Commision:</b>
            <span><%= @user.commission %>%</span>
          </div>

          <div class="form-outline mb-4">
            <b>Full sale:</b>
            <span>$<%= @user.full_sale %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>