<div class="container update-client">
  <%= form_with(url: create_assignation_path(@user), method: "post") do |f| %>
  <h2>Assign Client</h2>

  <%= f.hidden_field :agent_id, value: @agent.id %>

  <div class="form-outline mb-4">
    <%= f.label :first_name, class: "form-label" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", value: @agent.user.first_name, readonly: true, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :last_name, class: "form-label" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last name", value: @agent.user.last_name, readonly: true, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :phone, class: "form-label" %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "Phone", value: @agent.user.phone, readonly: true, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @agent.user.email, readonly: true, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label "Assign client", class: "form-label" %>
    <%= collection_select(:agent, :client_id, @clients, :id, :full_name, {}, {:multiple => true, class: "form-control"}) %>
  </div>
  <br/>


  <br/>
  
  <div class="actions d-grid col-12 mx-auto">
    <%= f.submit "Assign", class: "btn btn-success" %>
  </div>
  <% end %>
</div>