<div class="agents-container">  
  <h3>Agents list</h3>
  <div class="list">
  <div class="actions d-grid col-10 justify-content-md-start">
    <%= link_to "New Agent", new_agent_path, class: "btn btn-primary mb-4" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% count = 0 %>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= count += 1 %></td>
        <td><%= agent.full_name %></td>
        <td><%= agent.user.email %></td>
        <td><%= agent.user.phone %></td>
        <td><%= link_to "Assign Client", assign_client_path(agent.user.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
