<section id="home_brokers">
  <div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('333.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('11.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('22.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('1.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('2.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('3.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('111.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('222.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="img-position">
              <img src="<%= image_url('333.jpg') %>" alt="..." />
            </div>
            <div class="img-wrapper">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <hr class="solid">
  <div class="container-tabla1">
    <table class="table caption-top">
      <caption>
        RECORDS
      </caption>
      <thead>
        <tr>
          <th scope="col">Total countries</th>
          <th scope="col">Total Brokers</th>
          <th scope="col">
            Total closed 
            transactions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>450</td>
          <td>450</td>
          <td>450</td>
        </tr>
        <th scope="col"></th>
        <th scope="col">Total sales volume: $60.000</th>
        <th scope="col"></th>
      </tbody>
    </table>
  </div>
  <br /><br />
  <hr class="solid">
  <!-- Inicio tabla N° 2 -->
  <div class="container-tabla2">
    <table class="table caption-top">
     <caption>
        STADISTICS
      </caption>
      <thead class="subtitulo-tabla2">
        <tr>
          <th scope="col">Total outbound</th>
          <th scope="col"></th>
          <th scope="col">Total inbout</th>
        </tr>
        <tr>
          <td>450</td>
          <td></td>
          <td>450</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">Showing</th>
          <th scope="col">In Progress</th>
          <th scope="col">Closed</th>
        </tr>
        <tr>
          <td>23</td>
          <td>45</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
>
</script>
