<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPhgP0T_nWkm1JDtEEVzwVaySrNTHViNc&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>

<div class="form-search-brokers container">
  <%= form_with(url: create_agent_path(@user), method: "post",  html: {class: "row g-3"}) do |f| %>    
    <h3>Search Brokers</h3>
    
     <div class="col-auto">
      <%= f.label :broker_name, class: "form-label" %><br />
      <%= f.text_field :broker_name, autofocus: true, autocomplete: "Broker name", class: "form-control" %>
    </div>

     <div class="col-auto">
      <%= f.label :country, class: "form-label" %><br />
      <%= f.text_field :country, autofocus: true, autocomplete: "Country", class: "form-control" %>
    </div>

     <div class="col-auto">
      <%= f.label :state, class: "form-label" %><br />
      <%= f.text_field :state, autofocus: true, autocomplete: "State", class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= f.label :city, class: "form-label" %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "City", class: "form-control" %>
    </div>
    
    <div class="col-auto">
        <%= f.submit "Search",  class: "btn btn-success mb-3 search-broker" %>
    </div>    
  <% end %>

  <div id="map-brokers"></div>
</div>
