<script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_KEY'] %>"
      defer
    ></script>

<div class="form-search-brokers container">
  <%= form_with(url: search_brokers_path(@user), method: "post", data: { type: :json }, html: {class: "row g-3"}) do |f| %>    
    <h2>Search Brokers</h2>
    
     <div class="col-auto">
      <%# todo modify for use a select %>
      <%= f.label :country, class: "form-label" %><br />
      <%= f.text_field :country, autofocus: true, autocomplete: "Country", class: "form-control" %>
    </div>

    <div class="col-auto">
      <%# todo modify for use a select %>
      <%= f.label :city, class: "form-label" %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "City", class: "form-control" %>
    </div>

     <div class="col-auto">
      <%# todo modify for use a select %>
      <%= f.label "state / Condado", class: "form-label" %><br />
      <%= f.text_field :state, autofocus: true, autocomplete: "State", class: "form-control" %>
    </div>
    
    <div class="col-auto">
      <%= f.submit "Search",  class: "btn btn-success mb-3 search-broker", id: "search-brokers", type: "button" %>
    </div>    
  <% end %>

  <div id="map-brokers"></div>
</div>
