<script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_KEY'] %>"
      defer
    ></script>

<div class="form-search-brokers container">
  <%= form_with(url: search_brokers_path(@user), method: "post", data: { type: :json }, html: {class: "row g-3"}) do |f| %>    
    <h2>Search Brokers</h2>
    
     <div class="col-auto">      
      <%= f.label :country, class: "form-label" %><br />
      <%= f.select(:country, @countries, {prompt: "select country", selected: @current_country }, {:class => 'form-control' }) %>
    </div>

     <div class="col-auto">      
      <%= f.label "state / Condado", class: "form-label" %><br />
      <%= f.select(:state, @states, {prompt: "select state", selected: @current_state }, { :class => 'form-control' }) %>    
    </div>

    <div class="col-auto">      
      <%= f.label :city, class: "form-label" %><br />
      <%= f.select(:city, @cities, {prompt: "select city", selected: @current_city }, { :class => 'form-control' } ) %>
    </div>    
    
    <div class="col-auto">
      <%= f.submit "Search",  class: "btn btn-success mb-3 search-broker", id: "search-brokers", type: "button" %>
    </div>    
  <% end %>

  <div class="row broker-list">    
    <div class="col-sm-6">
      <h3>Brokers List</h3>
      <table class="table table-striped">
        <thead>
          <th>Nombre</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </thead>
        <tbody>
        <% @brokers.each do |br| %>
          <tr>          
              <td><%= br.full_name %></td>
              <td><%= br.user.email %></td>
              <td><%= br.user.phone %></td>
              <td><%= link_to "View Profile", view_profile_path(br.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="map-brokers" class="col-sm-6"></div>
   </div>
</div>
