<div class="container profile-form">  
    <h2>Profile</h2>
    <p style="text-align:center;">Welcome to brokersApp, you have to complete some information</p>    
    <%= form_with(url: update_profile_path(@user), method: "post") do |f| %>
    <div class="row justify-content-md-center">
      <div class="<%= @user.role.downcase == 'broker' ? 'col-sm-4' : 'col-sm-4'  %>">
        <%= f.hidden_field :role, value: @user.role %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :user_state, value: 'active' %>
        <div class="form-outline mb-2 photo">
          <%= image_tag(image_url('profile.png')) unless @user.photo.attached? %>          
          <%= image_tag(@user.photo) if @user.photo.attached? %>
          <%= f.file_field :photo, accept: 'image/png,image/gif,image/jpeg', class: "form-control upload-photo" %>
        </div>
        <div class="form-outline mb-4"></div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="<%= @user.role.downcase == 'broker' ? 'col-sm-4' : 'col-sm-4'  %>">
        <div class="form-outline mb-4">
          <%= f.label :first_name, class: "form-label" %><br />
          <%= f.text_field :first_name, value: @user.first_name, autofocus: true, autocomplete: "Last name", class: "form-control" %>
        </div>

        <div class="form-outline mb-4">
          <%= f.label :last_name, class: "form-label" %><br />
          <%= f.text_field :last_name, value: @user.last_name, autofocus: true, autocomplete: "Last name", class: "form-control" %>
        </div>
      
        <div class="form-outline mb-4">
          <%= f.label :phone, class: "form-label" %><br />
          <%= f.text_field :phone, value: @user.phone, autofocus: true, autocomplete: "Phone", class: "form-control" %>
        </div>

        <div class="form-outline mb-4">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, value: @user.email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>
      <% if @user.role.downcase == 'broker' %>
        <%= render 'partials/broker_profile', form: f %>
      <% else %>
        <%= render 'partials/agent_profile', form: f %>
      <% end %>      
      <div class="actions">
        <%= f.submit "Update profile", class: "btn btn-primary btn-block mb-4 register"  %>      
      </div>    
    </div>
  <% end %>  
</div>
