<!DOCTYPE html>
<html>
  <head>
    <title>AppBrokers</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/header' %>    
    <% flash.each do |type, msg| %>
      <div class="<%= type %>_message" role="alert">
        <%= msg %> <!-- notice -->
      </div>
    <% end %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
